.service-section {
  background-color: #eafcfe;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 50px 0;
}

.serviceH5 {
  color: rgb(49, 225, 247);
  margin-top: 20%;
}

.serviceH2 {
  font-weight: 700;
}

.serviceP {
  font-style: italic;
}

.service-section .service_contentbox .service-box {
  background: white;
  border-radius: 30px;
  border-bottom: 2px solid #249cb3;
}

.service-section .service_contentbox .service-box :hover {
  background-color: #249cb3;
}

.card-img-top {
  width: 70px;
  height: 70px;
}

.service-reboticon {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #249cb3;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 30%;
}

.serviceCard {
  border-radius: 30px;
  text-align: center;
  border-bottom: 2px solid #249cb3;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  overflow: hidden;
}

.serviceCard:hover {
  background-color: #249cb3;
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.serviceContent{
  background-image: url("../../../assets/service/service-image.png");
  /* width: 120%; */
  background-repeat: no-repeat;
  background-size: cover;

}

.serviceprovidedH1{
  color: rgb(3,128,198);
  font-family: "Rubik", Sans-serif;
  font-size: 30px;
  font-weight: 600;
  line-height: 1.3em;
}

.elementdivider{
text-align: center;
padding-block-start: 10px;
padding-block-end: 10px;
}

.elementDividerSeprator{

  text-align: center;
padding-block-start: 10px;
padding-block-end: 10px;
color: blue;
/* width: 19px;
height: 10px;
margin: 0 auto;
color: rgb(3,128,198); */

}

.box-small-icon {
  border: 1px solid #0a457c;
  border-radius: 10px;
  padding: 20px;
  margin: 10px;
  text-align: center;
  box-shadow: 4px 4px 4px 4px rgba(0.1, 0.1, 0.1, 5);
}

.box-small-icon i {
  font-size: 40px;
  color: #333;
  margin-bottom: 15px;
}

.icon-title {
  font-size: 1.5rem;
  font-weight: bold;
}

.icon-text {
  font-size: 1rem;
  color: #666;
}

.card {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
}

.card:hover {
  transform: translateY(-10px);
  background-color: #249cb3;

}

/*  */

.icon-circle {
  display: inline-block;
  background-color: #007bff; /* Blue background */
  border-radius: 50%; /* Makes it circular */
  width: 60px; /* Set the size of the circle */
  height: 60px;
  display: flex; /* Use flexbox to center the content */
  align-items: center;
  justify-content: center; /* Center horizontally */
  margin: 0 auto 15px auto;
}

.icon-circle i {
  color: white; /* White icon color */
  font-size: 24px; /* Icon size */
  padding-top: 20%;
}

.card {
  text-align: center;
  padding: 20px;
  border: none;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.icon-title {
  font-size: 1.2rem;
  font-weight: bold;
  margin-top: 10px;
}

.icon-text p {
  color: #555;
}
